@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit Login</title>
    <link rel="stylesheet" href="~/Content/style.css">
</head>
<body>
    <div class="container">
        <h2>Login to Reddit</h2>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <input type="submit" value="Login">
        </form>
        <div class="register-link">
            Don't have an account? <p>@Html.ActionLink("Register here", "Register")</p>.
        </div>
    </div>
</body>
</html>