@model UserService_Data.User
@{
    ViewBag.Title = "User Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <link rel="stylesheet" href="~/Content/homepage.css">
</head>
<body>
    <div class="container">
        <div class="button-container">
            <button class="add-topic">Add New Topic</button>
            <div>
                <a href="@Url.Action("Login", "Authentication")" class="profile">Login</a>
            </div>
        </div>
        <ul class="topics">
            <li>Topic 1</li>
            <li>Topic 2</li>
            <li>Topic 3</li>
            <li>Topic 4</li>
        </ul>
    </div>
</body>
</html>

