@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Home Page</h1>
        <ul>
            <li><a href="@Url.Action("Login", "Authentication")">Login</a></li>
            <li><a href="@Url.Action("Register", "Authentication")">Register</a></li>
            <li><a href="@Url.Action("UserPage", "User")">User page</a></li>
        </ul>
    </div>
</body>
</html>
